<div>
    <h1 >SEARCH JOB</h1>
           
            <div>
                <form>
                    
                    <div class="form-group">
                        <label for="keyword">Keyword</label>
                        <input type="text" class="form-control" id="keyword" ng-model="searchform.keyword">
                    </div>
                   
                    <button type="submit" class="btn btn-info" ng-click="search()">Search</button>
                    <button type="submit" class="btn btn-success" ng-click="resetForm()">Reset</button>
                </form>
            
</div>
        </div>
<search></search>
